@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
  --VERY_LIGHT_BLUE: #f6f8ff;
  --BLUE: #0079ff;
  --BLACK: #222731;
  --GRAY: #4b6a9b;
  --WHITE: #ffffff;
  --LIGHT_GRAY: #697c9a;
  --PURPLE: #141d2f;
  --DEEP_BLUE: #1e2a47;
  --LIGHT_WHITE: #fefefe;
  --RED: #f74646;
}

/* GENERAL STYLES */

body {
  background-color: var(--VERY_LIGHT_BLUE);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 730px;
}
.title {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--BLACK);
}
.state {
  font-family: inherit;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2.5px;
  color: var(--LIGHT_GRAY);
}
.theme {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.intro {
  display: flex;
  justify-content: space-between;
}
input {
  width: 274px;
  display: block;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.12rem;
  outline: 0;
}
.styled::placeholder {
  font-family: inherit;
  font-size: 1.12rem;
  color: var(--WHITE);
}
.mobile_styled::placeholder {
  font-family: inherit;
  font-size: 0.8rem;
  color: var(--WHITE);
}
.search_input {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.search_btn {
  background-color: var(--BLUE);
  color: var(--WHITE);
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  padding: 0.8rem 1.4rem;
  border-radius: 10px;
}
.search_btn:hover {
  background-color: #60abff;
  cursor: pointer;
}
.searchbox {
  display: flex;
  padding-left: 2rem;
  padding-right: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--LIGHT_WHITE);
  justify-content: space-between;
  border-radius: 15px;
  margin-top: 2.2rem;
  cursor: pointer;
}
.mobile_searchbox {
  display: none;
}
.moon:hover {
  cursor: pointer;
  color: var(--BLACK);
}
.card {
  width: 730px;
  padding: 3rem;
  margin-top: 1.5rem;
  border-radius: 15px;
  background-color: var(--LIGHT_WHITE);
  display: none;
}
.mobile_card_details {
  display: none;
}
.user_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_info {
  width: 100%;
}
.card_details {
  display: flex;
  gap: 2.3rem;
}
.username {
  font-family: inherit;
  font-size: 1.6rem;
  color: var(--BLACK);
  font-weight: bold;
}
.date {
  font-family: inherit;
  font-size: 0.93rem;
  color: var(--LIGHT_GRAY);
}
.user {
  font-family: inherit;
  font-size: 1rem;
  color: var(--BLUE);
  margin-top: 0.3rem;
}
.bio {
  font-family: inherit;
  font-size: 1rem;
  color: var(--GRAY);
  margin-top: 1.25rem;
}
.user_details {
  width: 480px;
  background-color: var(--VERY_LIGHT_BLUE);
  padding-left: 2rem;
  padding-right: 5.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.repository {
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--GRAY);
}
.repository_quantity {
  font-family: inherit;
  font-size: 1.3rem;
  color: var(--BLACK);
  font-weight: bold;
}
.fans {
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--GRAY);
}
.no_of_followers {
  font-family: inherit;
  font-size: 1.3rem;
  color: var(--BLACK);
  font-weight: bold;
}
.following {
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--GRAY);
}
.no_of_following {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--BLACK);
}
.user_contact {
  margin-top: 2.3rem;
  padding-right: 3.1rem;
  display: flex;
  justify-content: space-between;
}
.location {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.user_link {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.twitter {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.company {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.left_contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.right_contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.city,
.link,
.company_name,
.twitter_profile {
  font-family: inherit;
  font-size: 1rem;
  color: var(--GRAY);
  cursor: pointer;
}
.city:hover {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}
.company_name:hover {
  text-decoration: underline;
}
.twitter_profile:hover {
  text-decoration: underline;
}
.search {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.search_error {
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: var(--RED);
  display: none;
}
.avartar {
  display: none;
}

@media (max-width: 428px) {
  body {
    display: block;
    font-family: "Space Mono", monospace;
  }
  main {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }
  .searchbox {
    display: none;
  }
  .mobile_searchbox {
    display: block;
    display: flex;
    margin-top: 2.3rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 0.43rem;
    justify-content: space-between;
    align-items: center;
  }
  .mobile_search_input {
    display: flex;
    align-items: center;
    gap: 0.55rem;
  }
  .mobile_input {
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    width: 190px;
    height: 25px;
  }
  .mobile_search {
    display: flex;
    align-items: center;
  }
  .mobile_search_btn {
    background-color: var(--BLUE);
    border: 0;
    color: var(--WHITE);
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.7rem 1.1rem;
  }
  .mobile_search_error {
    display: none;
    font-family: inherit;
    color: var(--RED);
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 42%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    margin: auto;
  }
  .card {
    margin-top: 1rem;
    width: 100%;
    padding: 2rem 1.5rem;
  }
  .card_details {
    display: none;
  }
  .mobile_card_details {
    display: block;
  }
  .mobile_avartar_section {
    display: flex;
    gap: 1.2rem;
  }
  .mobile_name {
    color: var(--BLACK);
    font-weight: 700;
    font-size: 1rem;
  }
  .mobile_username {
    color: var(--BLUE);
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .mobile_date {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    color: var(--LIGHT_GRAY);
  }
  .mobile_bio {
    margin-top: 2.06rem;
  }
  .bio_detail {
    font-family: inherit;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 25px;
  }
  .mobile_user_details_wrapper {
    padding: 1.1rem 0.9rem;
    margin-top: 1.4rem;
    background-color: var(--VERY_LIGHT_BLUE);
    border-radius: 10px;
  }
  .mobile_user_details {
    display: flex;
    justify-content: space-between;
  }
  .mobile_repository {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--GRAY);
  }
  .mobile_repos {
    width: 79px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .mobile_followers {
    width: 81px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .mobile_followings {
    width: 89px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .mobile_fans {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--GRAY);
  }
  .mobile_following {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--GRAY);
  }
  .mobile_repository_quantity {
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: var(--BLACK);
  }
  .mobile_no_of_followers {
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: var(--BLACK);
  }
  .mobile_no_of_following {
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    color: var(--BLACK);
  }
  .mobile_user_contact {
    margin-top: 1.5rem;
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .first_contact,
  .second_contact,
  .third_contact,
  .fourth_contact {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
  .mobile_location,
  .mobile_link,
  .mobile_twitter_profile,
  .mobile_company {
    font-family: inherit;
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--GRAY);
  }
  .mobile_avartar {
    display: none;
  }
}
